*{
    margin: 0px;
    padding: 0px;
}

.screen a:link,.screen a:visited,.screen a:active{
    color: #fff;
}
.t_cen {
    text-align: center;
    position: absolute;
    width: 100%;
}
.screen{
    background-color: #b52221;
    height: 450px;
    color: #fff;
    line-height: 45px;
    position: relative;
}